.container {
  min-width: 100% !important;
  min-height: 100vh;
  background-color: #f6f1ee;
  padding-inline: 6rem !important;
  padding-bottom: 10rem;
}
.formContainer {
  background-color: #efafe5;
  padding: 3rem;
  box-shadow: inset;
  border-radius: 20px;
  box-shadow: 10px 5px 10px #888888;
}
.title {
  color: #1a472a;
  font-size: 50px;
  font-weight: 1000;
  text-align: center;
  padding: 4rem;
}

.sendBtn {
  background-color: #1a472a !important;
  color: white;
  border: none !important;
  border-radius: 30px !important;
  padding: 10px 30px !important;
  font-size: large !important;
  box-shadow: 0px 6px 10px rgb(111, 100, 100);
}

.cancelBtn {
  background-color: #efb557 !important;
  color: white;
  border-radius: 30px !important;
  padding: 10px 30px !important;
  border: none !important;
  font-size: large !important;
  box-shadow: 0px 6px 10px rgb(111, 100, 100);
}

.label {
  color: #1a472a;
  font-weight: light;
  font-size: larger;
}

.datePickerContainer {
  border: 1px solid #cbd1d7;
  border-radius: 5px;
  background-color: #f6f1ee;
  width: 100% !important;
  display: flex;
  padding: 0.375rem 0.375rem;
  line-height: 1.5;
}
.date {
  justify-content: end !important;
}

.topBar {
  display: flex;
}
