@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

/* :global(#root) {
  width: 70%;
  margin: auto;
  justify-content: center;
  align-content: center;
  display: flex;
}

* {
  box-sizing: border-box;
}

:global(body) {
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  margin: -20px 0 50px;
} */

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

span {
  font-size: 12px;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 10rem;
}

.myButton {
  border-radius: 20px;
  background-color: #008ecf !important;
  color: black !important;
  font-size: 12px;
  font-weight: bold;
  padding: 8px 30px !important;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  margin-top: 2rem !important;
}

.myButton:active {
  transform: scale(0.95);
}

.myButton:focus {
  outline: none;
}

.myButton.ghost {
  background-color: transparent !important;
  border-color: #ffffff;
  border: 2px solid #008ecf;
}

.myForm {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 4px 50px;
  height: 100%;
  text-align: center;
}

.myInput {
  background-color: #eee;
  border: none;
  padding: 12px 10px !important;
  margin: 8px 5px !important;
  width: 100%;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.formContainer {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.signInContainer {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.rightPanelActive .signInContainer {
  transform: translateX(100%);
}

.signUpContainer {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.rightPanelActive .signUpContainer {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlayContainer {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container.rightPanelActive .overlayContainer {
  transform: translateX(-100%);
}

.overlay {
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container.rightPanelActive .overlay {
  transform: translateX(50%);
}

.overlayPanel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlayLeft {
  transform: translateX(-20%);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 80%;
}

.createAccBox {
  margin-bottom: 8rem;
  color: black;
}
.container.rightPanelActive .overlayLeft {
  transform: translateX(0);
}

.overlayRight {
  right: 0;
  transform: translateX(0);
  background-image: url("letter.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 80%;
}

.container.rightPanelActive .overlayRight {
  transform: translateX(20%);
}

.backgroundImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
